@page
@model IndexModel
@{
    ViewData["Title"] = "Family Meal Voter";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Family Meal Voter</h1>
    <p>This is a simple web app where family's can vote for what they want to have for breakfast/lunch/dinner</a>.</p>
</div>
