@page
@model MealVoter.Pages.ManageMealsModel
@{
    ViewData["Title"] = "Manage Meals 🍽️";
}

<h1>Manage Avaliable Meals 🍽️</h1>

<!-- New meal form will go here -->

<!-- List of avaliable meals will go here-->
